.wrapper {
  height: 100vh;
  flex: 1;
  margin: 0;
  padding: 0;
}

.Grid {
  height: 100%;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
  gap: 5px;
  justify-content: center;
}
