.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.App-header {
  flex: 1;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
}
